<!DOCTYPE html>
<html ng-app="4devs" lang="ru" ng-init="title='4devs'" class="ng-scope">
<head>
    <base href="/">
    <style type="text/css">@charset "UTF-8";
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
        display: none !important;
    }

    ng\:form {
        display: block;
    }

    .ng-animate-shim {
        visibility: hidden;
    }

    .ng-anchor {
        position: absolute;
    }</style>
    <meta charset="utf-8">
    <title ng-bind="title|trans:{}:'AppBundle'" class="ng-binding">Создание сайтов</title>
    <meta name="description"
          content="4devs - команда разработчиков. Мы поможем Вам сделать Ваш проект успешным, а Вас - счастливым. Есть вопросы? Не стесняйтесь, мы здесь для того чтобы помочь Вам.">
    <meta name="keywords" content="4devs, php, разработка Symfony2">
    <meta name="viewport" content="width=device-width">
    <meta name="fragment" content="!">
    <base href="/">
    <link rel="stylesheet" href="/css/landing.css?1.4?1.4">
    <!--[if lt IE 10]>
    <link rel="stylesheet" href="/css/ie9.css?1.4">
    <![endif]-->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png?1.4">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?1.4">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?1.4">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?1.4">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?1.4">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?1.4">
    <link rel="icon" type="image/x-icon" href="/favicon.ico?1.4">
</head>
<body>
<!-- uiView: undefined -->
<ui-view name="header" class="ng-scope">
    <header id="header" class="header ng-scope" ng-controller="HeaderController">
        <div class="fixed-width">
            <div class="header-inner">
                <div class="header-inner__item header-inner__item--logo">
                    <div class="logo">&lt;4devs/&gt;</div>
                </div>
                <main-block type="nav" page-data="menu" class="ng-isolate-scope">
                    <nav class="nav ng-scope" ng-class="{'nav--open': mobileNavShow}"
                         ng-click="mobileNavShow = !mobileNavShow" ng-controller="NavController as vm">
                        <ul class="nav__list " items="items" on-action="goTo(item)" trans-domain="AppBundle">
                            <!-- ngRepeat: item in items -->
                            <li class="nav__list-item ng-scope" ng-repeat="item in items"><a class="nav__item "
                                                                                             ng-href="/ru/index.html"
                                                                                             ui-sref="index.page(params(item))"
                                                                                             ng-class="linkClass(item)"
                                                                                             ng-click="click(item);"
                                                                                             href="/ru/index.html">Главная</a>
                                <ul class="nav__list nav__list--sublist" ng-class="navListClass(item)"
                                    list-class="nav__list--sublist" on-action="click(item);" items="item.children">
                                    <!-- ngRepeat: item in items --></ul>
                            </li><!-- end ngRepeat: item in items -->
                            <li class="nav__list-item ng-scope" ng-repeat="item in items"><a class="nav__item "
                                                                                             ng-href="/ru/site.html#steps"
                                                                                             ui-sref="index.page(params(item))"
                                                                                             ng-class="linkClass(item)"
                                                                                             ng-click="click(item);"
                                                                                             href="/ru/site.html#steps">Этапы
                                работы</a>
                                <ul class="nav__list nav__list--sublist" ng-class="navListClass(item)"
                                    list-class="nav__list--sublist" on-action="click(item);" items="item.children">
                                    <!-- ngRepeat: item in items --></ul>
                            </li><!-- end ngRepeat: item in items -->
                            <li class="nav__list-item ng-scope" ng-repeat="item in items"><a class="nav__item "
                                                                                             ng-href="/ru/site.html#feedback"
                                                                                             ui-sref="index.page(params(item))"
                                                                                             ng-class="linkClass(item)"
                                                                                             ng-click="click(item);"
                                                                                             href="/ru/site.html#feedback">Отзывы</a>
                                <ul class="nav__list nav__list--sublist" ng-class="navListClass(item)"
                                    list-class="nav__list--sublist" on-action="click(item);" items="item.children">
                                    <!-- ngRepeat: item in items --></ul>
                            </li><!-- end ngRepeat: item in items -->
                            <li class="nav__list-item ng-scope" ng-repeat="item in items"><a class="nav__item "
                                                                                             ng-href="/ru/site.html#dignity"
                                                                                             ui-sref="index.page(params(item))"
                                                                                             ng-class="linkClass(item)"
                                                                                             ng-click="click(item);"
                                                                                             href="/ru/site.html#dignity">Работа
                                с нами</a>
                                <ul class="nav__list nav__list--sublist" ng-class="navListClass(item)"
                                    list-class="nav__list--sublist" on-action="click(item);" items="item.children">
                                    <!-- ngRepeat: item in items --></ul>
                            </li><!-- end ngRepeat: item in items -->
                            <li class="nav__list-item ng-scope" ng-repeat="item in items"><a
                                    class="nav__item nav__item--lang material-icons nav__item--expanded"
                                    ng-href="/ru/site.html" ui-sref="index.page(params(item))"
                                    ng-class="linkClass(item)" ng-click="click(item);" href="/ru/site.html">language</a>
                                <ul class="nav__list nav__list--sublist" ng-class="navListClass(item)"
                                    list-class="nav__list--sublist" on-action="click(item);" items="item.children">
                                    <!-- ngRepeat: item in items -->
                                    <li class="nav__list-item ng-scope" ng-repeat="item in items"><a class="nav__item "
                                                                                                     ng-href="/ru/site.html"
                                                                                                     ui-sref="index.page(params(item))"
                                                                                                     ng-class="linkClass(item)"
                                                                                                     ng-click="click(item);"
                                                                                                     href="/ru/site.html">Русский</a>
                                        <ul class="nav__list nav__list--sublist" ng-class="navListClass(item)"
                                            list-class="nav__list--sublist" on-action="click(item);"
                                            items="item.children"><!-- ngRepeat: item in items --></ul>
                                    </li><!-- end ngRepeat: item in items -->
                                    <li class="nav__list-item ng-scope" ng-repeat="item in items"><a class="nav__item "
                                                                                                     ng-href="/en/site.html"
                                                                                                     ui-sref="index.page(params(item))"
                                                                                                     ng-class="linkClass(item)"
                                                                                                     ng-click="click(item);"
                                                                                                     href="/en/site.html">English</a>
                                        <ul class="nav__list nav__list--sublist" ng-class="navListClass(item)"
                                            list-class="nav__list--sublist" on-action="click(item);"
                                            items="item.children"><!-- ngRepeat: item in items --></ul>
                                    </li><!-- end ngRepeat: item in items -->
                                    <li class="nav__list-item ng-scope" ng-repeat="item in items"><a class="nav__item "
                                                                                                     ng-href="/uk/site.html"
                                                                                                     ui-sref="index.page(params(item))"
                                                                                                     ng-class="linkClass(item)"
                                                                                                     ng-click="click(item);"
                                                                                                     href="/uk/site.html">Українська</a>
                                        <ul class="nav__list nav__list--sublist" ng-class="navListClass(item)"
                                            list-class="nav__list--sublist" on-action="click(item);"
                                            items="item.children"><!-- ngRepeat: item in items --></ul>
                                    </li><!-- end ngRepeat: item in items --></ul>
                            </li><!-- end ngRepeat: item in items --></ul>
                    </nav>
                </main-block>
                <!-- uiView: nav -->
                <div ui-view="nav" class="header-inner__item header-inner__item--nav ng-scope"></div>
                <div class="header-inner__item header-inner__item--h-phone">
                    <a class="h-phone ng-binding" href="https://github.com/4devs"></a>
                </div>
            </div>
        </div>
    </header>
</ui-view>
<!--main content start-->
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- uiView: undefined -->
<ui-view name="main" class="ng-scope">
    <main class="ng-scope">
        <main-block page-data="data.steps" type="steps" class="ng-isolate-scope">
            <section id="steps" class="steps content-block">
                <div class="fixed-width content-block__inner">
                    <h1 class="ng-binding">Этапы разработки сайта</h1>
                    <h3><i class="ng-binding">От идеи до запуска. Именно таким образом происходит сотрудничество с
                        нами.</i></h3>
                    <div>
                        <ul class="steps-list layout layout-row layout-wrap">
                            <!-- ngRepeat: item in pageData.stages -->
                            <li class="flex flex-25 flex-md-50 flex-sm-50 steps-list__item ng-scope steps-list__item--idea"
                                ng-class="'steps-list__item--' + item.type" ng-repeat="item in pageData.stages">
                                <div class="steps-list__item-title ng-binding">
                                    Обсуждение сайта
                                </div>
                                <div class="steps-list__item-description ng-binding">
                                    Вы рассказываете нам о своем сайте, его основных целях, своем видении. Мы
                                    консультируем Вас по технической стороне вопроса, предлагаем варианты реализации.
                                </div>
                            </li><!-- end ngRepeat: item in pageData.stages -->
                            <li class="flex flex-25 flex-md-50 flex-sm-50 steps-list__item ng-scope steps-list__item--specification"
                                ng-class="'steps-list__item--' + item.type" ng-repeat="item in pageData.stages">
                                <div class="steps-list__item-title ng-binding">
                                    Составление ТЗ
                                </div>
                                <div class="steps-list__item-description ng-binding">
                                    Вникаем во все детали. Прорабатываем пользовательские сценарии. Создаем максимально
                                    детализированное техническое задание.
                                </div>
                            </li><!-- end ngRepeat: item in pageData.stages -->
                            <li class="flex flex-25 flex-md-50 flex-sm-50 steps-list__item ng-scope steps-list__item--price"
                                ng-class="'steps-list__item--' + item.type" ng-repeat="item in pageData.stages">
                                <div class="steps-list__item-title ng-binding">
                                    Оценка стоимости
                                </div>
                                <div class="steps-list__item-description ng-binding">
                                    Делаем оценку сайта по времени и стоимости на основе детализированного технического
                                    задания.
                                </div>
                            </li><!-- end ngRepeat: item in pageData.stages -->
                            <li class="flex flex-25 flex-md-50 flex-sm-50 steps-list__item ng-scope steps-list__item--agreement"
                                ng-class="'steps-list__item--' + item.type" ng-repeat="item in pageData.stages">
                                <div class="steps-list__item-title ng-binding">
                                    Подписание договора
                                </div>
                                <div class="steps-list__item-description ng-binding">
                                    Составляем индивидуальный договор на разработку. Подписываем. При необходимости
                                    делим разарботку сайта на итерации.
                                </div>
                            </li><!-- end ngRepeat: item in pageData.stages -->
                            <li class="flex flex-25 flex-md-50 flex-sm-50 steps-list__item ng-scope steps-list__item--design"
                                ng-class="'steps-list__item--' + item.type" ng-repeat="item in pageData.stages">
                                <div class="steps-list__item-title ng-binding">
                                    Дизайн + Верстка
                                </div>
                                <div class="steps-list__item-description ng-binding">
                                    Разрабатываем уникальный дизайн. Постоянно взаимодействуем с Вами для достижения
                                    наилучшего результата.
                                </div>
                            </li><!-- end ngRepeat: item in pageData.stages -->
                            <li class="flex flex-25 flex-md-50 flex-sm-50 steps-list__item ng-scope steps-list__item--development"
                                ng-class="'steps-list__item--' + item.type" ng-repeat="item in pageData.stages">
                                <div class="steps-list__item-title ng-binding">
                                    Активная разработка
                                </div>
                                <div class="steps-list__item-description ng-binding">
                                    Программисты берутся за дело. Вы можете отслеживать результаты работы на выделенном
                                    демо сервере.
                                </div>
                            </li><!-- end ngRepeat: item in pageData.stages -->
                            <li class="flex flex-25 flex-md-50 flex-sm-50 steps-list__item ng-scope steps-list__item--testing"
                                ng-class="'steps-list__item--' + item.type" ng-repeat="item in pageData.stages">
                                <div class="steps-list__item-title ng-binding">
                                    Тестирование и сдача
                                </div>
                                <div class="steps-list__item-description ng-binding">
                                    Начинаем тестовый период согласно договору. Все недочеты и баги будут исправлены без
                                    каких-либо доплат.
                                </div>
                            </li><!-- end ngRepeat: item in pageData.stages -->
                            <li class="flex flex-25 flex-md-50 flex-sm-50 steps-list__item ng-scope steps-list__item--start"
                                ng-class="'steps-list__item--' + item.type" ng-repeat="item in pageData.stages">
                                <div class="steps-list__item-title ng-binding">
                                    Запуск и поддержка
                                </div>
                                <div class="steps-list__item-description ng-binding">
                                    Сайт готов решать Ваши бизнес задачи. Разворачиваем сайт на основном сервере. При
                                    необходимости осуществляем техническую поддержку.
                                </div>
                            </li><!-- end ngRepeat: item in pageData.stages -->
                        </ul>
                    </div>
                </div>
            </section>
        </main-block>
        <main-block page-data="data.feedback" type="feedback" class="ng-isolate-scope">
            <section id="feedback" class="content-block content-block--type-2 content-block--feedback">
                <div class="fixed-width content-block__inner">
                    <h1 class="ng-binding">Отзывы</h1>

                    <h3><i class="ng-binding">Что наши клиенты говорят о нас</i></h3>

                    <!--feedback list start-->
                    <div class="carousel feedback-list ng-scope" ng-controller="FeedbackListController as vm">
                        <ul rn-carousel="" rn-carousel-controls="" rn-carousel-controls-allow-loop=""
                            class="carousel__main ng-scope">
                            <!-- ngRepeat: item in vm.items -->
                            <li ng-repeat="item in vm.items" class="ng-scope"
                                style="display: inline-block; -webkit-transform: translate3d(0%, 0px, 0px);">
                                <div class="feedback-list__item layout layout-row layout-wrap">
                                    <div class="flex-25 flex-sm-100 feedback-list__item-column">
                                        <div class="feedback-list__item-user">
                                            <div class="feedback-list__item-user-row feedback-list__item-user-photo-placeholder">
                                                <img class="feedback-list__item-user-photo"
                                                     ng-src="/img/feedback/evgeniy.jpg" src="/img/feedback/evgeniy.jpg">
                                            </div>
                                            <div class="feedback-list__item-user-row feedback-list__item-user-name ng-binding">
                                                Евгений Востриков
                                            </div>
                                            <div class="feedback-list__item-user-row feedback-list__item-user-position ng-binding">
                                                Сооснователь сервиса SharkUP
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-75 flex-sm-100 layout layout-column feedback-list__item-column">
                                        <div class="feedback-list__item-details">
                                            <div class="flex-100 layout">
                                                <div class="flex-30 feedback-list__item-date-wrap ng-binding"
                                                     ng-show="item.date">Дата:
                                                    <span class="feedback-list__item-date ng-binding">
                                            29.08.2015
                                        </span>
                                                </div>
                                                <div class="flex-70 feedback-list__item-project-wrap ng-binding"
                                                     ng-show="item.project">По проекту:
                                                    <span class="feedback-list__item-project ng-binding">
                                            Разработка сервиса Widgets для сайта
                                        </span>
                                                </div>
                                            </div>
                                            <div class="flex-100">
                                                <p class="feedback-list__item-content ng-binding">
                                                    Справились с задачей на отлично! Команда действительно
                                                    Профессионалов. По нашему проекту соблюдены все сроки, все
                                                    договоренности, все оформлено документально. Будем работать дальше,
                                                    грамотную команду найти действительно сложно, знаем на своем горьком
                                                    опыте. Рекомендуем.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li><!-- end ngRepeat: item in vm.items -->
                        </ul>
                        <div class="rn-carousel-controls ng-scope">
                            <!-- ngIf: carouselIndex > 0 || true --><span
                                class="rn-carousel-control rn-carousel-control-prev ng-scope" ng-click="prevSlide()"
                                ng-if="carouselIndex &gt; 0 || true"></span><!-- end ngIf: carouselIndex > 0 || true -->
                            <!-- ngIf: carouselIndex < (vm.items).length - 1 || true --><span
                                class="rn-carousel-control rn-carousel-control-next ng-scope" ng-click="nextSlide()"
                                ng-if="carouselIndex &lt; (vm.items).length - 1 || true"></span>
                            <!-- end ngIf: carouselIndex < (vm.items).length - 1 || true -->
                        </div>
                    </div>

                    <!--feedback list end-->

                </div>
            </section>
        </main-block>
        <main-block page-data="data.dignity" type="dignity" class="ng-isolate-scope">
            <section id="dignity" class="dignity content-block content-block">
                <div class="fixed-width content-block__inner">
                    <h1 class="ng-binding">Наши достоинства и недостатки</h1>

                    <h3><i class="ng-binding">плюсы и минусы сотрудничества с нами</i></h3>

                    <div class="dignity__table ng-scope" ng-controller="DignityListController as vm">

                        <div class="layout dignity__row">
                            <div class="dignity__cell dignity__header ng-binding">Наши достоинства</div>
                            <div class="dignity__cell dignity__header ng-binding">Наши недостатки</div>
                        </div>

                        <!-- ngRepeat: item in vm.items -->
                        <div class="dignity__block ng-scope" ng-repeat="item in vm.items">
                            <div class="layout dignity__row">
                                <div class="dignity__cell dignity__cell--positive ng-binding">Соблюдаем сроки</div>
                                <div class="dignity__cell dignity__cell--negative ng-binding">Не работаем бесплатно и за
                                    еду
                                </div>
                            </div>
                            <div class="layout dignity__row">
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.positive.description|t"><p>Мы
                                    осознаем на сколько важно для вас время и поэтому не срываем сроки, все работы сдаем
                                    вовремя.</p></div>
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.negative.description|t"><p>
                                    Считаем,&nbsp;что качественно выполненная работа должна быть оплачена
                                    соответствующим образом.</p></div>
                            </div>
                        </div><!-- end ngRepeat: item in vm.items -->
                        <div class="dignity__block ng-scope" ng-repeat="item in vm.items">
                            <div class="layout dignity__row">
                                <div class="dignity__cell dignity__cell--positive ng-binding">Профессионализм</div>
                                <div class="dignity__cell dignity__cell--negative ng-binding">Не работаем со всеми
                                    подряд
                                </div>
                            </div>
                            <div class="layout dignity__row">
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.positive.description|t"><p>Мы
                                    работаем только с лучшими, передовыми технологиями, такими как <a
                                            href="http://symfony.com" target="_blank">Symfony</a> фреймворк . Выполняем
                                    работу добросовестно, профессионально.</p></div>
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.negative.description|t"><p>
                                    Заинтересованы в клиентах, которые также как и мы ориентированы на результат и
                                    решение бизнес задач, а не создание глянцевых и никому ненужных сайтов.</p></div>
                            </div>
                        </div><!-- end ngRepeat: item in vm.items -->
                        <div class="dignity__block ng-scope" ng-repeat="item in vm.items">
                            <div class="layout dignity__row">
                                <div class="dignity__cell dignity__cell--positive ng-binding">Гарантия качества</div>
                                <div class="dignity__cell dignity__cell--negative ng-binding">Мы все еще молодая
                                    компания
                                </div>
                            </div>
                            <div class="layout dignity__row">
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.positive.description|t"><p>
                                    Всегда предоставляем тестовый период, в ходе которого все найденные недочеты будут
                                    бесплатно исправлены.</p></div>
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.negative.description|t"><p>
                                    Вполне возможно что вы о нас еще не слышали. Этот неловкий момент помогут исправить
                                    отзывы наших клиентов.</p></div>
                            </div>
                        </div><!-- end ngRepeat: item in vm.items -->
                        <div class="dignity__block ng-scope" ng-repeat="item in vm.items">
                            <div class="layout dignity__row">
                                <div class="dignity__cell dignity__cell--positive ng-binding">Повышенное внимание к
                                    деталям
                                </div>
                                <div class="dignity__cell dignity__cell--negative ng-binding"></div>
                            </div>
                            <div class="layout dignity__row">
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.positive.description|t"><p>
                                    Учитываем все ваши пожелания, выполняем все требования. Ничего не будет пропущено
                                    или забыто.</p></div>
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.negative.description|t"></div>
                            </div>
                        </div><!-- end ngRepeat: item in vm.items -->
                        <div class="dignity__block ng-scope" ng-repeat="item in vm.items">
                            <div class="layout dignity__row">
                                <div class="dignity__cell dignity__cell--positive ng-binding">Гарантия возврата денег
                                </div>
                                <div class="dignity__cell dignity__cell--negative ng-binding"></div>
                            </div>
                            <div class="layout dignity__row">
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.positive.description|t"><p>
                                    Если в процессе разработки возникнут&nbsp;форс мажорные обстоятельства и вам будет
                                    необходимо отказаться от части согласованной&nbsp;функциональности, работы по
                                    которой&nbsp;еще не начались, то мы вернем Вам деньги.</p></div>
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.negative.description|t"></div>
                            </div>
                        </div><!-- end ngRepeat: item in vm.items -->
                        <div class="dignity__block ng-scope" ng-repeat="item in vm.items">
                            <div class="layout dignity__row">
                                <div class="dignity__cell dignity__cell--positive ng-binding">Всегда на связи</div>
                                <div class="dignity__cell dignity__cell--negative ng-binding"></div>
                            </div>
                            <div class="layout dignity__row">
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.positive.description|t"><p>Вы
                                    всегда можете связаться с нами удобным для вас способом и уточнить, на какой стадии
                                    готовности находится&nbsp;сайт. Вдобавок к этому вы всегда можете посмотреть
                                    результаты на демо сервере.</p></div>
                                <div class="dignity__cell  ng-binding" ng-bind-html="item.negative.description|t"></div>
                            </div>
                        </div><!-- end ngRepeat: item in vm.items -->
                    </div>

                </div>
            </section>
        </main-block>
        <main-block page-data="data.footer" type="footer" class="ng-isolate-scope">
            <footer class="footer content-block content-block--type-2">
                <main-block type="contacts" ng-show="pageData.showContacts" class="ng-isolate-scope ng-hide">
                    <section id="contacts" class="contacts" ng-class="pageData.class">
                        <div class="fixed-width content-block__inner">
                            <h1 class="ng-binding">Напишите нам</h1>
                            <h3><i class="ng-binding">Возникли вопросы? Давайте их обсудим!</i></h3>

                            <div class="layout layout-row layout-wrap">
                                <div class="flex-50 flex-sm-100 contacts__column">

                                    <span class="contacts__tooltip contacts__tooltip--form ng-binding">Возникли вопросы? Заполните форму и наши специалисты свяжутся с Вами.</span>

                                    <!--service description start-->
                                    <!-- ngInclude: undefined -->
                                    <ng-include src="'/tpl/contact-form.tpl.html'" class="ng-scope">
                                        <form class="contact-from ng-pristine ng-scope ng-valid-server ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-email"
                                              ng-controller="ContactFormController as vm" novalidate=""
                                              name="ContactForm"
                                              ng-submit="vm.submit(vm.message,ContactForm,'_contact_us')">

                                            <div class="form__row has-success ng-binding"
                                                 ng-bind="vm.successMessage"></div>
                                            <div class="form__row"
                                                 ng-class="{'has-error': vm.hasError(ContactForm.name)}">
                                                <label class="form__label contact-from__visibility--modal-only ng-binding">Введите
                                                    ваше Имя<span class="form__required-asterix">*</span></label>
                                                <input class="input--name ng-pristine ng-untouched ng-valid-server ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength"
                                                       ng-model="vm.message.name" name="name"
                                                       placeholder="Введите ваше имя" type="text" minlength="2"
                                                       maxlength="50" required="" server="">

                                                <div class="ng-hide ng-active" ng-messages="ContactForm.name.$error"
                                                     role="alert" ng-show="vm.hasError(ContactForm.name)">
                                                    <!-- ngMessage: required -->
                                                    <div ng-message="required" class="ng-binding ng-scope">Значение не
                                                        должно быть пустым.
                                                    </div>
                                                    <!-- ngMessage: minlength -->
                                                    <!-- ngMessage: maxlength -->
                                                    <!-- ngRepeat: error in ContactForm.name.errors -->
                                                </div>
                                            </div>
                                            <div class="form__row"
                                                 ng-class="{'has-error': vm.hasError(ContactForm.email)}">
                                                <label class="form__label contact-from__visibility--modal-only ng-binding">Введите
                                                    ваш email <span class="form__required-asterix">*</span></label>
                                                <input class="input--email ng-pristine ng-untouched ng-valid-email ng-valid-server ng-invalid ng-invalid-required"
                                                       ng-model="vm.message.email" name="email"
                                                       placeholder="Введите ваш Email" type="email" required=""
                                                       server="">

                                                <div class="ng-hide ng-active" ng-messages="ContactForm.email.$error"
                                                     multiple="" role="alert" ng-show="vm.hasError(ContactForm.email)">
                                                    <!-- ngMessage: required -->
                                                    <div ng-message="required" class="ng-binding ng-scope">Значение не
                                                        должно быть пустым.
                                                    </div>
                                                    <!-- ngMessage: email -->
                                                    <!-- ngRepeat: error in ContactForm.email.errors -->
                                                </div>
                                            </div>
                                            <div class="form__row"
                                                 ng-class="{'has-error': vm.hasError(ContactForm.phone)}">
                                                <label class="form__label contact-from__visibility--modal-only ng-binding">Введите
                                                    ваш телефон</label>
                                                <input class="input--phone ng-pristine ng-untouched ng-valid ng-valid-server ng-valid-minlength"
                                                       minlength="6" ng-model="vm.message.phone" name="phone"
                                                       placeholder="Введите ваш телефон" type="text" server="">

                                                <div class="ng-hide ng-inactive" ng-messages="ContactForm.phone.$error"
                                                     multiple="" role="alert" ng-show="vm.hasError(ContactForm.phone)">
                                                    <!-- ngMessage: minlength -->
                                                    <!-- ngRepeat: error in ContactForm.phone.errors -->
                                                </div>
                                            </div>

                                            <div class="form__row"
                                                 ng-class="{'has-error': vm.hasError(ContactForm.message)}">
                                                <label class="form__label contact-from__visibility--modal-only ng-binding">Описание
                                                    <span class="form__required-asterix">*</span></label>
                                                <textarea placeholder="Введите суть вопроса..."
                                                          ng-model="vm.message.message" name="message" required=""
                                                          maxlength="2500" minlength="2" server=""
                                                          class="ng-pristine ng-untouched ng-valid-server ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength"></textarea>

                                                <div class="ng-hide ng-active" ng-messages="ContactForm.message.$error"
                                                     multiple="" role="alert"
                                                     ng-show="vm.hasError(ContactForm.message)">
                                                    <!-- ngMessage: required -->
                                                    <div ng-message="required" class="ng-binding ng-scope">Значение не
                                                        должно быть пустым.
                                                    </div>
                                                    <!-- ngMessage: maxlength -->
                                                    <!-- ngMessage: minlength -->
                                                    <!-- ngRepeat: error in ContactForm.message.errors -->
                                                </div>
                                            </div>

                                            <div class="form__row form__actions">
                                                <input type="submit"
                                                       ng-disabled="ContactForm.$dirty &amp;&amp; ContactForm.$invalid"
                                                       class="form__actions_submit" value="Отправить">
                                            </div>

                                        </form>
                                    </ng-include>
                                    <!--service description end-->

                                </div>
                                <div class="flex-50 flex-sm-100 contacts__column">

                                    <span class="contacts__tooltip contacts__tooltip--details ng-binding">Или свяжитесь с нами любым удобным для Вас способом!</span>

                                    <!--service list start-->
                                    <div class="contacts-details">
                                        <div class="contacts-details__work-time ng-binding">
                                            Часы работы: пн-пт 9:00 - 18:00 по МСК
                                        </div>
                                        <!-- ngRepeat: item in connectList -->
                                        <div ng-repeat="item in connectList"
                                             class="contacts-details__item contacts-details__item--envelope"
                                             name="contact_us" trans-domain="FDevsContactListBundle">Почта: <a
                                                href="mailto:manager@4devs.pro" class="ng-binding">manager@4devs.pro</a>
                                        </div><!-- end ngRepeat: item in connectList -->
                                        <div ng-repeat="item in connectList"
                                             class="contacts-details__item contacts-details__item--skype"
                                             name="contact_us" trans-domain="FDevsContactListBundle">Skype: <a
                                                href="skype:victor-4devs" class="ng-binding">victor</a></div>
                                        <!-- end ngRepeat: item in connectList -->
                                        <div ng-repeat="item in connectList"
                                             class="contacts-details__item contacts-details__item--phone"
                                             name="contact_us" trans-domain="FDevsContactListBundle">Тел: <a
                                                href="tel:+79788138478" class="ng-binding">7(978)8138478</a></div>
                                        <!-- end ngRepeat: item in connectList -->
                                    </div>
                                    <!--service list end-->
                                </div>
                            </div>

                        </div>
                    </section>
                </main-block>
                <section class="footer__main">
                    <div class="fixed-width">
                        <div class="footer-inner">
                            <div class="footer-inner__item footer-inner__item--design"></div>
                            <div class="footer-inner__item">
                                <div class="social ng-isolate-scope" name="social">
                                    <!-- ngRepeat: item in connectList --><a target="_blank"
                                                                             ng-repeat="item in connectList"
                                                                             class="button social__item social__item--fa fa-home"
                                                                             ng-click="$parent.reachGoal(item)"
                                                                             ng-href="http://4devs.io/" title="home"
                                                                             href="http://4devs.io/"></a>
                                    <!-- end ngRepeat: item in connectList --><a target="_blank"
                                                                                 ng-repeat="item in connectList"
                                                                                 class="button social__item social__item--fa fa-github"
                                                                                 ng-click="$parent.reachGoal(item)"
                                                                                 ng-href="https://github.com/4devs"
                                                                                 title="github"
                                                                                 href="https://github.com/4devs"></a>
                                    <!-- end ngRepeat: item in connectList --><a target="_blank"
                                                                                 ng-repeat="item in connectList"
                                                                                 class="button social__item social__item--fa fa-youtube"
                                                                                 ng-click="$parent.reachGoal(item)"
                                                                                 ng-href="https://www.youtube.com/user/4devs"
                                                                                 title="youtube"
                                                                                 href="https://www.youtube.com/user/4devs"></a>
                                    <!-- end ngRepeat: item in connectList --><a target="_blank"
                                                                                 ng-repeat="item in connectList"
                                                                                 class="button social__item social__item--fa fa-linkedin"
                                                                                 ng-click="$parent.reachGoal(item)"
                                                                                 ng-href="https://www.linkedin.com/company/4devs---team-of-great-developers"
                                                                                 title="linkedin"
                                                                                 href="https://www.linkedin.com/company/4devs---team-of-great-developers"></a>
                                    <!-- end ngRepeat: item in connectList --><a target="_blank"
                                                                                 ng-repeat="item in connectList"
                                                                                 class="button social__item social__item--fa fa-twitter"
                                                                                 ng-click="$parent.reachGoal(item)"
                                                                                 ng-href="https://twitter.com/4devsteam"
                                                                                 title="twitter"
                                                                                 href="https://twitter.com/4devsteam"></a>
                                    <!-- end ngRepeat: item in connectList --></div>
                            </div>
                            <div class="footer-inner__item">© 4devs.pro 2012 —
                                <date format="yyyy" class="ng-binding ng-isolate-scope">2016</date>
                            </div>
                        </div>

                    </div>
                </section>
            </footer>
        </main-block>
    </main>
</ui-view>
<!--main content end-->
<!-- uiView: footer -->
<div ui-view="footer" class="ng-scope"></div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">(function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter25960792 = new Ya.Metrika({
                id: 25960792,
                webvisor: true,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                trackHash: true
            });
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/25960792" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript><!-- /Yandex.Metrika counter -->


</body>
</html>
